@model IEnumerable<DynamicallyLoadingContent.Models.EmployeeInfo>
@{
    ViewBag.Title = "EmployeeInfo";
}
<div class="container">
    <h4 style="text-align: center;border-bottom:1px solid #808080">EmployeeInfo</h4>
    @foreach (var item in Model)
    {
        <p><label>Name: </label>@item.EmployeeName</p>
        <p><label>Email: </label>@item.Email</p>
        <p><label>Phone: </label>@item.Phone</p>
        <p><label>Experience: </label>@item.Experience</p>
    }
</div>


