@model IEnumerable<DynamicallyLoadingContent.Models.EmployeeInfo>
    
<br/><br/>
<div class="container">
    <h3 style="text-align:center">-----Employee List-----</h3><br/>
    <table class="table table-bordered">
        <tr>
            <th style="width:20%">ID</th>
            <th style="width:80%">Name</th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>@item.Id</td>
        <td><a href="#" data-toggle="popover" data-trigger="hover" id="@item.Id">@item.EmployeeName</a></td>
    </tr>
        }
    </table>
</div>